.row-1{
    display: flex;
    gap: 5px;
}
.row-2{
    display: flex;
    gap: 5px;
}
.row-3{
    display: flex;
    gap: 5px;
}
.row-4{
    display: flex;
    gap: 5px;
}
.col-12{
    background-color: pink;
    color: pink;
    height: 130px;
    margin-bottom: 10px;
}
.col-3{
    background-color: rgb(235, 64, 146);
    color: rgb(235, 64, 146);
    height: 130px;
    margin-bottom: 10px;
    
}
.col-6{
    background-color:cyan;
    color: cyan;
    height: 130px;
    margin-bottom: 10px;
    

}
.col-10{
    background-color: rgb(99, 195, 16);
    color: rgb(99, 195, 16);
    height: 130px;
    
}
.col-2{
    background-color: orange;
    color: orange;
    height: 130px;
}
@media screen and (max-width:576px) {
    .row-1, .row-2, .row-3, .row-4{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}